<div class="_container">
  <div>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident ipsum
    itaque molestiae laborum magni! Perspiciatis aliquid hic alias voluptates.
    Odit quia reiciendis officiis dicta soluta qui ipsa doloremque excepturi
    nostrum!
  </div>
  <div class="mt-2">To confirm your account press the button below</div>
  <div class="mt-5 text-center">
    <button type="button" class="btn btn-primary" (click)="confirm()">
      Confirm Your Email
    </button>
  </div>
</div>
